---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  position: relative;
  min-height: 100px;
}

body {
  background: $white;
  font: 18px/1.4 Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0 auto 50px;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, Pacifico, sans-serif;
  color: #222;
  font-weight: bold;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
}

@media screen and (max-width: 640px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }
}
h1 {
  font-size: 30px;
}

h1 a {
  color: inherit;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: #666;
}

p {
  margin: 15px 0;
}

a {
  color: #FFD700;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:active {
  color: #D2691E;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: #666;
}

::-moz-selection {
  color: #000;
  background: #eee;
}

::selection {
  color: #000;
  background: #eee;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/
.wrapper-masthead {
  margin-bottom: 50px;
  background-color: $white;
  border-bottom: 4px solid $yellow;
}

.masthead {
  padding: 20px 0;
  background-color: $white; 
  border-bottom: .5px solid $yellow;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .masthead {
    text-align: center;
  }
}
.site-avatar {
  vertical-align: middle;
  width: 140px;
  height: 140px;
  margin: auto 1em;
}

@media screen and (max-width: 640px) {
  .site-avatar {
    float: none;
    vertical-align: middle;
    display: block;
    margin: auto;
  }
}
.site-avatar img {
  height: 220px;
  width: 220px;
}

.site-info {
  float: left;
}

@media screen and (max-width: 640px) {
  .site-info {
    float: none;
    display: block;
    margin: 0 auto;
  }
}
.site-name {
  margin: 0;
  color: #333;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: auto 10.4em 1em;
  color: #666;
  font-size: 1em;
  vertical-align: middle;
}

@media screen and (max-width: 640px) {
  .site-description {
    padding-left: .2em;
    margin: 1em 2em;
  }
}
nav {
  float: right;
  margin-top: 2em;
  font-family: Pacifico;
  font-size: 1.5em;
  vertical-align: middle;
}

@media screen and (max-width: 640px) {
  nav {
    display: block;
    font-size: 1em;
    vertical-align: middle;
  }
}
nav a.selected, nav a:hover {
  background-color: #1e5ed2;
  color: brown;
  font-color: #FFD700;
  font-size: 1.1em;
}

nav a:active {
  background-color: $lightGray;
  color: lightGray;
}

nav a {
  margin-left: 20px;
  color: $yellow;
  text-align: bottom;
  font-weight: 300;
  letter-spacing: .03em;
}

@media screen and (max-width: 640px) {
  nav a {
    margin: 0 10px;
    color: $yellow;
  }
}
.posts > .post {
  padding-bottom: 2em;
  border-bottom: .1em solid $yellow;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post blockquote {
  margin: 1.8em .8em;
  border-left: 2px solid #666;
  padding: 0.1em 1em;
  color: #666;
  font-size: 22px;
  font-style: italic;
}

.post .comments {
  margin-top: 10px;
}

.post .read-more {
  text-transform: uppercase;
  font-size: 15px;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

.wrapper-footer {
  min-height: 100%;
  border-top: 1px solid #e5d610;
  border-bottom: 1px solid #e5d610;
  background-color: #333;
  margin: auto auto 60px;
}

.footer {
  background-color: #403020;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  background-attachment: scroll;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Height of the footer */
  position: fixed;
}

.footer_contents {
  height: 60px;
  margin: auto;
  padding: 8px;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
